Repository SolaceLabs/solace-agent-mesh-core-plugins, pull requests merged in 2025-04, with the labels that each got.

#5 Refactor Schema Handling and Response Formats
  sam-sql-database/README.md
  sam-sql-database/src/agents/sql_database/actions/search_query.py
  sam-sql-database/src/agents/sql_database/sql_database_agent_component.py
Labels: sam-sql-database

#7 Clean schema before YAML dump
  sam-sql-database/src/agents/sql_database/sql_database_agent_component.py
Labels: sam-sql-database

#8 pool_timeout removed for SQLite
  sam-sql-database/src/agents/sql_database/services/database_service.py
Labels: sam-sql-database

#12 AI-758: Add an example config in sql db base component class
  sam-sql-database/README.md
  sam-sql-database/src/agents/sql_database/actions/search_query.py
  sam-sql-database/src/agents/sql_database/sql_database_agent_component.py
Labels: sam-sql-database

#15 Move dev branch to main
  TESTING_CHECKLIST.md
  sam-geo-information/README.md
  sam-geo-information/configs/agents/geo_information.yaml
  sam-geo-information/src/agents/geo_information/geo_information_agent_component.py
  sam-mcp-server/README.md
  sam-mcp-server/configs/agents/mcp_server.yaml
  sam-mcp-server/src/agents/mcp_server/actions/mcp_server_action.py
  sam-mcp-server/src/agents/mcp_server/mcp_server_agent_component.py
  sam-mermaid/README.md
  sam-mermaid/configs/agents/mermaid.yaml
  sam-mermaid/src/agents/mermaid/actions/mermaid_draw.py
  sam-mermaid/src/agents/mermaid/mermaid_agent_component.py
  sam-mongodb/README.md
  sam-mongodb/configs/agents/mongodb.yaml
  sam-mongodb/pyproject.toml
  sam-mongodb/src/agents/mongodb/actions/search_query.py
  sam-mongodb/src/agents/mongodb/mongodb_agent_component.py
  sam-sql-database/src/agents/sql_database/actions/search_query.py
  solace-event-mesh/README.md
  solace-event-mesh/configs/__CONFIGS_WILL_BE_HERE__
  solace-event-mesh/configs/agents/solace_event_mesh.yaml
  solace-event-mesh/src/agents/solace_event_mesh/solace_event_mesh_agent_component.py
Labels: sam-geo-information, sam-mcp-server, sam-mermaid, sam-mongodb, sam-sql-database, solace-event-mesh

#17 AI-777: Return the mongo query used to the orchestrator and give more guidance for usage of results
  sam-mongodb/src/agents/mongodb/actions/search_query.py
Labels: sam-mongodb

#19 AI-755: Added a zip file for the tutorial data to make it easier to download
  sam-sql-database/README.md
  sam-sql-database/example-data/abc_coffee_co.zip
Labels: sam-sql-database

#20 Promoting dev to main
  sam-mongodb/src/agents/mongodb/actions/search_query.py
  sam-sql-database/README.md
  sam-sql-database/example-data/abc_coffee_co.zip
Labels: sam-mongodb, sam-sql-database

#16 Improve geo-information plugin README
  sam-geo-information/README.md
Labels: sam-geo-information

#21 Merge dev into main
  sam-geo-information/README.md
Labels: sam-geo-information

#23 Merge dev into main
  sam-geo-information/README.md
Labels: sam-geo-information

#18 AI-780: Fix mermaid parent component bug
  sam-mermaid/src/agents/mermaid/actions/mermaid_draw.py
Labels: sam-mermaid
